<template>

    <div class="d-flex g-mt-15">
        <ul v-if="isShow" class="u-list-inline" v-for="(item, index) in showFollowers">
            <li class="list-inline-item mr-0">
                <img class="g-brd-around g-brd-gray-light-v3 g-pa-2 g-width-40 g-height-40 rounded mCS_img_loaded"
                     :src="item.avatar"
                     :alt="item.full_name">
            </li>
            <li class="list-inline-item mr-0" v-if="index === 3">
                <a class="u-link-v4 d-inline-block g-bg-primary g-color-white g-font-weight-600 g-text-underline--none--hover rounded g-py-8 g-px-11" href="#!">
                    {{ followers.length - 4 }}+
                </a>
            </li>
        </ul>
        <div class="align-self-center justify-content-end g-ml-5">
            <button v-if="$user" ref="button" class="btn u-btn-hover-v1-2 g-rounded-50"
                    v-bind:class="{ 'u-btn-outline-primary': !isFollow, 'u-btn-primary': isFollow }"
                    v-on:click.prevent="store">{{ text }}</button>
            <button v-else ref="button" class="btn u-btn-outline-primary g-rounded-50"
                    data-toggle="popover"
                    data-placement="top"
                    data-html="true"
                    :data-content='popoverText'>{{ trans('Follow') }}</button>
        </div>
    </div>

</template>

<script>
    import { EventBus } from './event-bus.js';

    export default {
        props: {
            id: String,
            type: String,
            followersList: {
                type: Object,
                default: function () {
                    return {};
                }
            }
        },

        data() {
            return {
                isShow: !!Object.values(this.followersList).length,
                isFollow: false,
                followers: this.followersList,
                popoverText: trans("To vote, you must") + ' <a class="g-text-underline" href="/login?back=' + window.location.pathname + '">' + trans("log in") + '</a>.'
            }
        },

        methods: {
            store(event) {
                if (this.$user) {
                    this.isFollow = !this.isFollow;
                    event.target.blur();

                    axios.post('/followers/follow/' + this.id, {
                        type: this.type
                    }).then((response) => {
                        if (response.data && response.data.status) {
                            this.isFollow = !!response.data.add;
                            this.isShow = true;
                            this.followers = response.data.followers ? response.data.followers : [];
                        } else {
                            this.isFollow = false;
                            alert('Oops! An error occurred while trying to add in wishlist');
                        }
                    });
                }
            },

            checkCurrentUserIsFollowing() {
                for (let i = 0; i <= this.followers.length; i++) {
                    if (this.followers[i] && this.followers[i].id === this.$user.id) {
                        this.isFollow = true;
                    }
                }
            }

        },

        computed: {
            'text': function () {
                return (this.isFollow) ?
                    this.trans('Unfollow') :
                    this.trans('Follow');
            },
            showFollowers: function () {
                return (this.followers.length > 5) ? this.followers.slice(0, 4) : this.followers;
            }
        },

        mounted() {
            EventBus.$on('followers-loaded', data => {
                if (this.id in data) {
                    this.isShow = true;
                    this.followers = data[this.id];
                    this.checkCurrentUserIsFollowing();
                }
            });
        }
    }
</script>
