<template></template>
<script>
    import { EventBus } from './event-bus.js';

    export default {
        props: ['type', 'items'],
        data() {
            return {
                data: []
            }
        },

        methods: {
            fetchWishlist() {
                axios.post('/followers/load',  {
                    items: this.items,
                    type: this.type
                }).then((response) => {
                    this.data = response.data.data;
                    EventBus.$emit('followers-loaded', this.data);
                });
            }
        },

        mounted() {
            console.log('Followers loading');
            this.fetchWishlist();
        }
    }
</script>