<template>
    <div class="select-followers g-my-10">
        <multiselect
                v-model="value"
                :options="source"
                :multiple="true"
                @search-change="searchFollowers"
                :close-on-select="true"
                :placeholder="trans('Pick follower')"
                label="full_name"
                track-by="full_name">
            <template slot="option" slot-scope="props"><img class="option__image" :src="props.option.avatar"
                                                            alt="No Man’s Sky">
                <div class="option__desc"><span class="option__title">{{ props.option.full_name }}</span><span
                        class="option__small">{{ props.option.nickname }}</span></div>
            </template>
        </multiselect>
        <input type="hidden" name="selected_followers" :value="selectedFollowers">
    </div>
</template>

<script>
    import Multiselect from 'vue-multiselect'

    export default {
        components: {Multiselect},

        props: {
            followersList: {
                type: Array,
                default: function () {
                    return [];
                }
            }
        },

        data() {
            return {
                value: this.followersList,
                source: []
            }
        },

        computed: {
            selectedFollowers: function () {
                let selectedFollowers = [];
                this.value.forEach((item) => {
                    selectedFollowers.push(item.id);
                });
                return selectedFollowers;
            }
        },

        methods: {
            searchFollowers(query) {
                axios.post('/followers/search', {
                    query: query
                }).then((response) => {
                    this.source = response.data;
                });
            },
        },

        mounted() {
            this.searchFollowers();
        }
    }
</script>
